body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: darkslategray;
    padding: 10px;
    height: 600px;
    width: 600px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.grid-item {
    background-color: gray;
    border: 1px solid black;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

/*#gameboard{
    display: grid;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}*/

